{% extends "head.html" %}{#한줄주석#}
{% block content %}
<!DOCTYPE html><html><head>
<meta charset="UTF-8"><title>Insert title here</title></head>
<body><br>
<div class="w3-container">
<table class="w3-table-all " style="color:#000">
<tbody><tr class="w3-grey">
  <th>id</th>  <th>비밀번호</th>  <th>이름</th>
  <th>성별</th>   <th>전화번호</th>  <th>이메일</th>   <th>사진명</th>
</tr>
</tbody><tbody>
{% for mli in mlist %}
<tr>
<td>{{mli.id}}</td>
<td>{{mli.pass}}</td>
<td>{{mli.name}}</td>
<td>{{mli.gender}}</td>
<td>{{mli.tel}}</td>
<td>{{mli.email}}</td>
<td>{{mli.picture}}</td>
</tr>
{% endfor %}
</tbody></table></div>
</body>
</html>
{% endblock %}