{% extends "head.html" %}{#한줄주석#}
{% block content %}
{% load board_tags %} {# filter setting #}
<!DOCTYPE html><html><head> 
<meta charset="UTF-8">
<title>Insert title here</title>
</head><body>
<div class="w3-container">
<h3  class="w3-center">게시판리스트</h3>
<a class="w3-button   w3-right  w3-grey"   
    href="/board/write/" >게시판 입력[{{listcount}}]</a>
<table class="w3-table-all" style="color:#000">
 <tbody> <tr>
  <th>번호</th>
  <th>이름</th>
  <th>제목</th>
   <th>파일</th>
   <th>입력일</th>
  <th>조회수</th> </tr>

    {% for b in boardlist %}
  <tr>
   <td>{{b.num}}</td>
  <td>{{b.name}}</td>
  <td><a  href="/board/comment/{{b.num}}/">{{b.subject}}</a></td>
  <td>{{b.file1}}</td>
  <td>{{b.regdate}}</td>
  <td>{{b.readcnt}}</td>
   </tr>
  {% endfor%}
  </tbody>


</table> 
<br>

<div class="w3-bar w3-center w3-small">
 <div class="pagination">
 {% if pageNum  >  pageview %} {# 앞 페이지가뜸 #}
 <a class="w3-button" href="/board/list?pageNum=1">[맨 앞으로]</a>
 <a class="w3-button" href="/board/list?pageNum={{pageNum|prepage:pageview}}" class="w3-button">[이전]</a>
    
    {% else %} {# 앞 페이지가 없을때 #}
 <a href="#"  class="w3-button w3-disabled">[맨 앞으로]</a>
 <a href="#"  class="w3-button w3-disabled">[이전]</a>
    {% endif %} 
 <div style="width:30%; margin: 5px; display:inline;" >
  {% for page in boardlist.paginator.page_range %}
      {# 현재 페이지 번호를 포함해서 pageview  개씩만 페이지 번호를 표시 #}
      {% if page >= pagestart and page <=  pageend %}  
         <span class="w3-button {% if page == boardlist.number %} w3-red {% endif %}">
         <a href = "?pageNum={{page}}" name="bb">{{page}}</a></span>
      {% endif %}
 {% endfor %}
  </div>
 
 {% if pageend <  maxpage %} {# 다음페이지가 존재 #}
  <a class="w3-button" href="/board/list?pageNum={{pageNum|nextpage:pageview}}" class="w3-button">[다음]</a>
  <a class="w3-button" href="/board/list?pageNum={{boardlist.paginator.num_pages}}" >[맨 뒤로]</a>
 {% endif %}
   <a href="#"  class="w3-button  w3-disabled">[다음]</a>
   <a href="#"  class="w3-button  w3-disabled">[맨 뒤로]</a>
</div>
</div>
</div>





</body></html>
{% endblock %}