{% extends "head.html" %}{#한줄주석#}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
function enterkey(num) {
	if(window.event.keyCode == 13) {
		commentPro(num)
	}
	
	
	
}

function commentPro(num) {
	
	let comment = document.querySelector("#comment").value
	console.log(comment)
	//$.get(url, function() {})
	$.get("/board/commentpro/"+comment+"/"+num+"/",
			function(data, state){
		    console.log("Data: " + data + "\nStatus: " + status);
		    let commentList = document.querySelector("#commentList")
		    commentList.innerHTML=data + "<p>"+commentList.innerHTML+"</p>"
		    console.log(commentList.innerHTML)
	})
	
	document.querySelector("#comment").value=''
}





</script>
</head>
<body>
	<div class="w3-container">
		<table class="w3-table-all">
			<tr>
				<td>글번호</td>
				<td>{{b.num}}</td>
				<td>조회수</td>
				<td>{{b.readcnt}}</td>
			</tr>
			<tr>
				<td>작성자</td>
				<td>{{b.name}}</td>
				<td>작성일</td>
				<td>{{b.regdate}}</td>
			</tr>
			<tr>
				<td>이미지</td>
				<td colspan="3">
                {% if b.file1 != "" %}
				<img src="/file/images/{{b.file1}}" />
				{% else %}
				<p>없음</p>
				{% endif %}
				
				
				</td>
			</tr>
			<tr>
				<td>글제목</td>
				<td colspan="3">{{b.subject}}</td>
			</tr>
			
			
			
			<tr   style="border-bottom: double 3px grey;">
				<td>글내용</td>
				<td colspan="3">{{b.content}}</td>
			</tr  >
			
			
			
			<tr   >
				<td  colspan="4">
				<p  class="w3-right">
					<input type="button" value="글수정" 	
onclick="document.location.href='/board/update/{{b.num}}'"/>
			<input type="button" value="글삭제" 	
onclick="document.location.href='/board/delete/{{b.num}}'"/>
		<input type="button" value="목록" 	
onclick="document.location.href='/board/list'"/>
				</p>
				
				
				
				
				</td>
				
			</tr  >
			
			
			
			
			
			<tr>
				<td colspan="3" class="w3-center"><textarea rows="1"
						class="w3-input w3-border" onkeyup="enterkey('{{b.num}}')"
						cols="50" name="content" id="comment"></textarea></td>
				<td><input type="button" value="입력(enter 입력)"
					onclick="commentPro('{{b.num}}')"></td>
			</tr>
           
             <tr>
				<td   colspan="3"  id="commentList">
				<div>
				{% for com in commentlist %}
				<p>{{com }}</p>
				{% endfor %}
				</div>
				</td>
				<td></td>
			</tr>


		</table>

	</div>
</body>
</html>
{% endblock %}